<div class="row" style="padding: 5%; color: #270056;">
  <div class="col"><h5>Contact Name</h5></div>
  <div class="col"><h5><%= newContact.name %></h5></div>
  <div class="w-100"></div>
  <div class="col"><h5>Contact Mobile</h5></div>
  <div class="col"><h5><%= newContact.mobile %></h5></div>
  <div class="w-100"></div>
  <div class="col"><h5>Contact Email</h5></div>
  <div class="col"><h5><%= newContact.email %></h5></div> 
  <div class="w-100"></div> 
  <div class="col"><h5>Contact Designation</h5></div>
  <div class="col"><h5><%= newContact.designation %></h5></div>
  <br>
  <br>
  <div class="w-100"> Belongs to <%= newContact.branch.name %> branch and <%= newContact.division.name %> division</div>
</div>