<div style="font-family: Brandon Grotesque !important;">
    <div class="w-100"><h1><span></span></h1></div>
	<div class="parent-container">
		<div class="container">
		  <div class="row">
		    <div class="col">
		      <blockquote class="blockquote text-center"><p><%= @company.name %></p></p></blockquote>
		    </div>
		    <div class="col col-6">
			    <div class="row">
			        <div class="col">
			            <% if @canCreateContact %>
	                        <div id="contact-btn-div">
				              <%= button_tag "Create a Contact", class: "btn my-btn-4", id: "create_company_contact_btn", onclick: "javascript: showNewContactForm()", :type => "button"%>	
	                        </div>
	                    <% else %>
	                        <div id="contact-btn-div" style="display: none">
				              <%= button_tag "Create a Contact", class: "btn my-btn-4", id: "create_company_contact_btn", onclick: "javascript: showNewContactForm()", :type => "button"%>	
	                        </div>	                    
	                    <% end %>    
			        </div>
			        <div class="col">
                       <%= button_tag "Create a Branch", class: "btn my-btn-4", id: "create_branch_btn", onclick: "javascript: showNewBranchForm()", :type => "button"%>			      	
			        </div>
			        <div class="col">
                        <%= button_tag "Create a Division", class: "btn btn my-btn-4", id: "create_division_btn", :type => "button", onclick: "javascript: showNewDivisionForm()"%>			      	
			        </div>
			    </div>
			</div>
			    
		    <div class="col">
		        <div class="row">
		            <div class="col">
		            	
		            </div>
		       	    <div class="col">
		       	       <blockquote><h3><p id="list-desc"></p></h3></blockquote>
		       	    </div>
              
		        </div>
		    </div>
		  </div>	
		</div>  
	</div>

	<div class="parent-container">
		<div class="container">
		  <div class="row">
		    <div class="col col-3">
				<div class="card" style="width: 20rem;">
				  <ul class="list-group list-group-flush">
	                <% @allCompanies.each do |com| %>
	                   <li class="list-group-item"><h4>Company name :  <span class="badge badge-secondary"><%=com.name %></span><span><%= link_to image_tag("home.png", :border=>0, :width => 20, :height => 20), company_company_page_path(com.id)%></span></h4>
	                   </li>
	                <% end %>
	              </ul>  
				</div>
		    </div>
		    <div class="col col-5" style= "margin-left: 5%;">
		        <div class="row">
		            <div class="col">
			            <div id= "new-branch-form" style="display: none;">
			           	  <%= render "branches/new_branch_form" %>
			            </div>
			            <div id="created-branches-div" style="display: none; margin-left: 15%;">
			            	
			            </div>

			            <div id="new-division-form" style="display: none;">
			                <%= render "divisions/new_division_form" %>
			            </div>
			            <div id="created-divisions-div" style="display: none; margin-left: 15%;">

			            </div>
                        
			            <div id= "new-company-contact-form" style="display: none;">
			            	<%= render "contacts/new_company_contact_form" %>
			            </div>

                        <div id="created-contacts-div" style="display: none;">
                        </div>

			        </div>   
		        </div>   
	        </div> 
		    <div class="col col-3">
		        <div class="row">
		            <div class="col">
                        <div class="btn-group btn-group-lg" role="group" aria-label="List buttons">
						    <button type="button" class="btn btn-primary" onclick="javascript: showAllContacts()">Contacts</button>
						    <button type="button" class="btn btn-primary" onclick="javascript: showAllBranches()">Branches</button>
						    <button type="button" class="btn btn-primary" onclick="javascript: showAllDivisions()">Divisions</button>                        	
                        </div>

			            <div id= "list-all-branches">
							<div class="card" style="width: 20rem;">
							  <ul class="list-group list-group-flush" id="allListItems" >
                                   
				              </ul>  
							</div>			           	  
			            </div>
			        </div>   
		        </div> 
		    </div>
		  </div>	
		</div>  
	</div>	

</div>



